@import 'tailwindcss';
@import '@wird/design-tokens/theme.css';

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
  overscroll-behavior-y: none;
}
